body {
    text-align: center;
    
}
a:link{
    text-decoration: none;
    font-family: Raleway;
    color: #f15b31; 
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
}

h1, h2, a:link {
    text-transform: uppercase;
}

h1{
    font-family: Raleway;
    color: #0d2c40; 
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 45px;
}

h2{
    font-family: Raleway;
    color: #0d2c40; 
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
}

p {
    font-family: "Droid serif"; 
    line-height: 26px;
    font-size: 18px;
}

h4{
    font-family: "droid serif";
    color: #0d2c40; 
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 18px;
}